 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,800;1,600&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;

}
:root{
  --purple:#672280;
  --white:#ffffff;
}
nav, .div1{
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
nav{
  background: var(--purple);

}
nav p{
font-size: 12px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0em;
text-align: right;
color: var(--white);
}
input{
  height: 35px;
width: 40%;
border: 2px solid #D5D4D8;
border-radius: 5px;

}